
/* Banner Section */
.container__banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 896px;
    height: 481px;
    margin: auto;
}
.container__banner h1 {
    font-size: 48px;
}
.container__banner p {
    font-size: 18px;
    text-align: center;
    margin: 24px 110px;
}
.container__banner button {
    font-size: 32px;
    font-weight: 600;
    background-color: #FFF9C4;
    color: #2C2E33;
    border-radius: 4px;
    padding: 12px;
    box-shadow: 0 4px #2C2E33;
    border-color: #2C2E33;
    border-style: 2px solid;
    cursor: pointer;
}

/* Website Information Section */
.info__about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

}
.info__about h1 {
    font-size: 32px;
    font-weight: 600;
}
.info__about p {
    font-size: 14px;
    font-family: 'Be Vietnam Pro';
    text-align: left;
}
 
.box {
    border-radius: 8px;
    padding: 32px; 
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL', 1
    ;
}
/* why wont the lock icon get filled??? sakit na ng leeg ko */
.anonymity {
    width: 863px; 
    height: 204px;

    background-color: #FFFFFF66;
}

.safespace {
    width: 420px;
    height: 204px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #2C2E330D ;
}
.safespace p {
    text-align: center;
}

.tactileui {
    width: 420px;
    height: 256px;

    background-color: #2C2E330D ;
}

.jointheconversation {
    width: 863px;
    height: 256px;

    background-color: #FFFFFF66;
}

/* temporary bg-color */
body {
    background-color: #A7B79B;
}