
/* Banner Section */
.container__banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 896px;
    height: 481px;
    margin: auto;
}
.container__banner h1 {
    font-size: 48px;
    color: #2C2E33;
}
.container__banner p {
    font-size: 18px;
    text-align: center;
    margin: 24px 110px;

    color: #2C2E33;
}
.container__banner button {
    font-size: 32px;
    font-weight: 600;
    background-color: #FFF9C4;
    color: #2C2E33;
    border-radius: 4px;
    padding: 12px;
    box-shadow: 0 4px #2C2E33;
    border-color: #2C2E33;
    border-style: 2px solid;
    cursor: pointer;
}

/* Website Information Section */
.info__about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

}
.info__about h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0;
}
.info__about p {
    font-size: 14px;
    font-family: 'Be Vietnam Pro';
    text-align: left;
}
 
.box {
    border-radius: 8px;
    padding: 32px; 
}

.icon-lock,
.icon-favorite,
.icon-stars2 {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #2C2E33;
}


/* why wont the lock icon get filled??? sakit na ng leeg ko */
.anonymity {
    width: 863px; 
    height: 204px;

    background-color: #FFFFFF66;
}

.safespace {
    width: 420px;
    height: 204px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #2C2E330D ;
}
.safespace p {
    text-align: center;
}

.tactileui {
    width: 420px;
    height: 256px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #2C2E330D ;
}
.tactileui p {
    text-align: center;
}

.jointheconversation {
    width: 863px;
    height: 256px;

    background-color: #FFFFFF66;
}
.jointheconversation p {
    width: 448px;
}

/* temporary bg-color */
/* body {
    background: hsla(160, 47%, 83%, 1);
    background: linear-gradient(90deg, hsla(160, 47%, 83%, 1) 0%, hsla(176, 68%, 12%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(160, 47%, 83%, 1) 0%, hsla(176, 68%, 12%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(160, 47%, 83%, 1) 0%, hsla(176, 68%, 12%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BFE8DA", endColorstr="#0A3431", GradientType=1 );
} */
 body {
    background-image: url("./../assets/images/bg-gradient_green.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

/* floating button */
.floating-button {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;

    width: 64px;
    height: 64px;
    background-color: #2C2E33;
    border-radius: 12px;

    user-select: none;
    cursor: pointer;
}

.floating-button .icon-add {
    color: #FFFFFF;
    font-size: 38px;
}