:root {
    --note-color-yellow: #FEF9C3;
}

.container__notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 48px;
    gap: 20px;
    min-height: 750px;
}

.note {
    display: flex;
    flex-direction: column;
    width: 316.25px;
    height: 254px;
    background-color: var(--note-color-yellow);
    padding: 20px;
}
.note .text{
    font-style: italic;
    font-size: 18px;

    color: #2C2E33CC;
}

.note .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;

    font-size: 12px;
    color: #2C2E334D; 

    user-select: none;
}

.note .footer .anon-name {
    font-weight: bold;
}
