@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans';
}

.top-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px 16px 24px;

    background-color:  #FFFFFFCC;
}

.logo__title {
    font-size: 24px;
    font-weight:600;
    user-select: none;   
    cursor: pointer;
} 
.top-nav__list {
    display: flex;
    flex-direction: row;
}

.top-nav__list li {
    margin: 0 10px 0 10px;
    list-style-type: none;
}

.top-nav__list a {
    text-decoration: none;
    color: #2C2E3399;
    font-size: 28px;
    font-weight: 600;
}

.top-nav__list a:hover {
    color: #2C2E33;
}

.top-nav__list a.active {
    color: #2C2E33;
}

.top-nav .button__post-note{
    width: 115px;
    height: 30px;
    background-color: #2C2E33 ;
    color: white;
    border-radius: 4px;
    border-style: none;

    text-decoration: none;
    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
